name: Build Windows EXE
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: python.exe -m pip install --upgrade pip
    - run: pip install pathlib openpyxl pandas spacy xlsxwriter PySide6 auto-py-to-exe
    - run: python -m spacy download en_core_web_sm
    - run: python -m auto_py_to_exe --onefile --windowed --name SentimentApp main_app.py
    - uses: actions/upload-artifact@v4
      with:
        name: SentimentApp
        path: output/SentimentApp.exe
